<%= render 'shared/header'%>

<div class='main-show-window'>
  <div class='main-user-show'>
    <div class='user-title-box'>
      <div class='user-show-image'>
      </div>
      <div class='user-show-nickname'>
        <%= @user.nickname %>
      </div>
      <div class='user-show-favorite-car'>
        好きな車：<%= @user.favorite_car %>
      </div>
    </div>
    <div class='user-car-length'>
      投稿数：<%= @user.cars.length %>
    </div>
    <div class='user-show-introduction'>
      <%= safe_join(@user.introduction.split("\n"), tag(:br)) %>
    </div>
  </div>
  <div class='exsample-car'>
    <div class='exsample-car-title'>
      <%=@user.nickname%>さんのレビュー
    </div>
    <%= render partial:'cars/car', collection: @cars %>
    <div class='review-footer'>
      <%= paginate @cars %>
    </div>
  </div>
</div>

<%= render "shared/footer" %>