<div class='side-bar'>
  <div class='sidebar-box'>
    <div class='side-bar-title'>
      絞り込み検索
    </div>
    <%= form_with url: type_cars_path, method: :get, class:'car-name-down-form', local: true do |f| %>
      <div class='narrow-down'>
        <div class='narrow-down-element'>
          <label class='narrow-down-label'>メーカーで絞りこむ</label>
        </div>
        <div class='narrow-down-element'>
          <%= f.collection_select(:maker_id, Maker.all, :id, :name, {selected: params[:maker_id]}, {class:"select-down-box", id:"car-category"}) %>
        </div>
      </div>
      <div class='narrow-down'>
        <div class='narrow-down-element'>
          <label class='narrow-down-label'>ボディタイプで絞りこむ</label>
        </div>
        <div class='narrow-down-element'>
          <%= f.collection_select(:body_type_id, BodyType.all, :id, :name, {selected: params[:body_type_id]}, {class:"select-down-box", id:"car-category"}) %>
        </div>
      </div>
      <div class='narrow-down'>
        <div class='narrow-down-element'>
          <label class='narrow-down-label'>車名で絞りこむ</label>
        </div>
        <div class='narrow-down-element'>
          <%= f.text_field :car_name, placeholder:'例）プリウス', class:"select-down-box", value:params[:car_name] %>
        </div>
      </div>
      <% if current_page?(search_cars_path) || current_page?(type_cars_path) %>
      <div class='narrow-down'>
        <div class='narrow-down-element'>
          <label class='narrow-down-label'>キーワード、タグを変更する</label>
        </div>
        <div class='narrow-down-element'>
          <%= f.text_field :keyword, placeholder:'キーワード、タグ', class:'select-down-box', value:"#{params[:keyword]}" %>
        </div>
      </div>
      <% else %>
        <%= f.text_field :keyword, type:'hidden' %>
      <% end %>
      <div class='narrow-down'>
        <div class='narrow-down-btn'>
          <% if current_page?(search_cars_path) || current_page?(type_cars_path) %>
            <%= link_to 'クリア', type_cars_path(maker_id: "1", body_type_id: "1", car_name: '', keyword: ''), class:"narrow-submit-btn"%>
          <% end %>
          <%= f.submit '決定', class:"narrow-submit-btn"%>
        </div>
      </div>
    <% end %>
  </div>
  <% if current_page?(root_path)%>
  <div class='sidebar-box'>
    <div class='side-bar-title'>
      人気タグ
    </div>
    <% @tags.each do |tag| %>
      <div class='popular-tag-element'>
        <span class='popular-tag' ><%=link_to tag.name, search_cars_path(keyword: tag.name) %></span>
      </div>
    <% end %>
  </div>
  <% end %>
</div>