<li class='list'>
  <div class='review-contents'>
    <%= link_to car_path(car), class:'review-contents' do %>
    <div class='car-img-content'>
      <%= image_tag car.images[0].url, class: "car-img" if car.images? %>
      <%= image_tag 'img_noimage.png', class: "car-img" unless car.images? %>
    </div>
    <% end %>
    <div class='car-info'>
      <%= link_to car_path(car), class:'review-contents' do %>
      <div class='review-title'>
        <%= car.title %>
      </div>
      <% end %>
      <div class='names'>
        <div class='user-name'><b><i><%=link_to car.user.nickname, user_path(car.user) %></i></b></div>
        <div class='car-name-type'>
          <span class='spans'><%= car.maker.name %>   /</span>
          <span class='spans'><%= car.car_name %>   /</span>
          <span class='spans'><%= car.body_type.name %></span>
        </div>
      </div>
      <div class='review-text-sentence'>
        <% if car.text.length >= 170 %>
          <%= car.text.slice(0,170) %>...
        <% else %>
          <%= car.text %>
        <% end %>
      </div>
    </div>
  </div>
</li>