<li class='list'>
  <%= link_to class:'review-contents' do %>
  <div class='review-contents'>
    <div class='car-img-content'>
      <%= image_tag car.image.variant(resize:'300x300'), class: "car-img" if car.image.attached? %>
      <%= image_tag 'img_noimage.png', class: "car-img" unless car.image.attached? %>
    </div>
    <div class='car-info'>
      <div class='review-title'>
        <%= car.title %>
      </div>
      <div class='names'>
        <div class='user-name'><b><i><%=car.user.nickname%></i></b></div>
        <div class='car-name-type'>
          <span class='spans'><%= car.maker.name %>   /</span>
          <span class='spans'><%= car.car_name %>   /</span>
          <span class='spans'><%= car.body_type.name %></span>
        </div>
      </div>
      <div class='review-text-sentence'>
        <%= car.text %>
      </div>
    </div>
  </div>
  <% end %>
</li>