<%= render "shared/header" %>

<div class='main-index-window'>
  <div class='side-header'>
    <%= form_with url: search_cars_path, method: :get, local: true do |f|%>
      <div class ='car-search-box'>
        <%= f.text_field :keyword, placeholder:'キーワード、タグで探す', class:'keyword-search-form', id:'keyword-search-form' %>
        <%= f.submit '検索' %>
        <div class='search-result' id='search-result'>
        </div>
      </div>
    <% end %>
    <%= link_to  new_car_path, id:"new-review-btn" do %>
    <div class='new-review-btn'>
      <span class='new-review-btn-text'>レビューを投稿する</span>
    </div>
    <% end %>
  </div>
  <div class='top-image-box'>
    <%= image_tag 'Maserati.jpeg', class: "top-image" %>
  </div>
  <div class='scraping-box'>
    <div class='scraping-title'>
      最新モデルチェンジ情報
    </div>
    <div class='scraping-url'>
      <ul>
        <% @elements.slice(2,5).each do |element|%>
          <li class='model-change-url'><%= link_to "・#{element}", element.href %></li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class='review-header'>
    最新投稿一覧
  </div>
  <div class='lower-window'>
    <div class='lower-window-box'>
      <%= render "shared/sidebar" %>
      
      <div class='main-review'>
        <div class='reviews'>
          <% if @cars == [] %>
            <div class='non-review'>該当するレビューはありませんでした。</div>
          <% else %>
            <%= render partial:'car', collection: @cars %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class='review-footer'>
    <%= paginate @cars %>
  </div>
</div>

<%= render "shared/footer" %>
