<%= render "shared/header" %>

<div class='main-index-window'>
  <div class='side-header'>
    <%= form_with url: search_cars_path, method: :get, local: true do |f|%>
      <div class ='car-sarch-box'>
        <%= f.text_field :keyword, placeholder:'キーワード、タグで探す', class:'keyword-search-form', id:'keyword-search-form' %>
        <%= f.submit '検索' %>
        <div class='search-result' id='search-result'>
        </div>
      </div>
    <% end %>
    <%= link_to  new_car_path do %>
    <div class='new-review-btn'>
      <span class='new-review-btn-text'>レビューを投稿する</span>
    </div>
    <% end %>
  </div>
  <div class='lower-window'>
    <div class='side-bar'>
      <%= form_with mothod: :get, class:'car-name-down-form', local: true do |f| %>
      <div class='narrow-down'>
        <%= f.collection_select(:maker_id, Maker.all, :id, :name, {}, {class:"select-down-box", id:"item-category"}) %>
      </div>
      <div class='narrow-down'>
        <%= f.collection_select(:body_type_id, BodyType.all, :id, :name, {}, {class:"select-down-box", id:"item-category"}) %>
      </div>
      <div class='narrow-down'>
        <%= f.text_field :car_name, placeholder:'車名から探す', class:"select-down-box" %>
      </div>
      <div class='narrow-down'>
        <%= f.submit '絞り込む', class:"narrow-submit-btn"%>
      </div>
      <% end %>
    </div>
    <div class='main-review'>
      <div class='review-header'>
        最新投稿一覧
      </div>
      <div class='reviews'>
        <%= render partial:'car', collection: @cars %>
      </div>
    </div>
  </div>
</div>

<%= render "shared/footer" %>
