<%= render "shared/header" %>

<div class='main-index-window'>
  <div class='side-header'>
    <%= form_with url: search_cars_path, method: :get, local: true do |f|%>
      <div class ='car-sarch-box'>
        <%= f.text_field :keyword, placeholder:'キーワード、タグで探す', class:'keyword-search-form', id:'keyword-search-form' %>
        <%= f.submit '検索' %>
        <div class='search-result' id='search-result'>
        </div>
      </div>
    <% end %>
    <%= link_to  new_car_path do %>
    <div class='new-review-btn'>
      <span class='new-review-btn-text'>レビューを投稿する</span>
    </div>
    <% end %>
  </div>
  <div class='lower-window'>
    <div class='side-bar'>
      <div class='narrow-down'>
        <div class='select-down-btn'>メーカーから探す</div>
      </div>
      <div class='narrow-down'>
        <div class='select-down-btn'>ボディタイプから探す</div>
      </div>
      <div class='narrow-down'>
        <%= form_with mothod: :get, class:'car-name-down-form', local: true do |f| %>
          <%= f.text_field :car_name, placeholder:'車名から探す', class:'down-form-text' %>
          <%= f.submit '探す'%>
        <% end %>
      </div>
    </div>
    <div class='main-review'>
      <div class='review-header'>
        最新投稿一覧
      </div>
      <div class='reviews'>
        <%= render partial:'car', collection: @cars %>
      </div>
    </div>
  </div>
</div>

<%= render "shared/footer" %>
