<%= render "shared/header" %>

<%= form_with model: @form, url: cars_path, class:'new-review-form', local: true do |f|%>
<div class='main-new-form'>
  <div class='make-new-text'>新規レビュー作成</div>

  <%= render 'shared/error_messages', model: f.object %>

  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">タイトル（最大50字まで）</label>
      <span class="indispensable">必須</span>
    </div>
    <%= f.text_field :title, class:"car-title", id:"title", placeholder:"title", maxlength:"50" %>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">画像（最大10枚まで）</label>
    </div>
    <div class="select-image-box">
      <div class='image-list' id='image-list'>
      </div>
      <div class='select-file-box' id='select-file-box'>
        <div class='select-file' id='select-file'>
          <div class='select-file-text'>画像を追加</div>
        </div>
        <%= f.file_field :images, multiple: true, id:"car-image-0", style:"display: none;" %>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">本文</label>
      <span class="indispensable">必須</span>
    </div>
    <%= f.text_area :text, class:"car-text", id:"text", placeholder:"text" %>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">メーカー</label>
    </div>
    <%= f.collection_select(:maker_id, Maker.all, :id, :name, {}, {class:"select-box", id:"item-category"}) %>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">車名</label>
    </div>
    <%= f.text_field :car_name, class:"car-car-name", id:"car_name", maxlength:"15" %>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">ボディタイプ</label>
    </div>
    <%= f.collection_select(:body_type_id, BodyType.all, :id, :name, {}, {class:"select-box", id:"item-category"}) %>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">タグ付け（2つ以上タグ付けする時は、タグごとに「,」で区切ってください）</label>
    </div>
    <div class='tag-form'>
      <%= f.text_field :name, placeholder:'例）#かっこいい,#すごい', class:"car-tag", id:'tag-form' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.submit '投稿する'%>
  </div>
</div>
<% end %>

<%= render "shared/footer" %>