<%= render "shared/header" %>

<div class='main-index-window'>
  <div class='side-header'>
    <%= form_with url: search_cars_path, method: :get, local: true do |f|%>
      <div class ='car-sarch-box'>
        <%= f.text_field :keyword, placeholder:'キーワード、タグで探す', class:'keyword-search-form', id:'keyword-search-form' %>
        <%= f.submit '検索' %>
        <div class='search-result' id='search-result'>
        </div>
      </div>
    <% end %>
    <%= link_to  new_car_path do %>
    <div class='new-review-btn'>
      <span class='new-review-btn-text'>レビューを投稿する</span>
    </div>
    <% end %>
  </div>
  <div class='lower-window'>
    
    <%= render "shared/sidebar" %>

    <div class='main-review'>
      <div class='review-header'>
        <span class='keyword'><%= params[:keyword] %></span>  の検索結果
      </div>
      <div class='reviews'>
        <%= render partial:'car', collection: @cars %>
      </div>
      <div class='review-footer'>
      </div>
    </div>
  </div>
</div>

<%= render "shared/footer" %>
