<%= render 'shared/header'%>

<div class='main-show-window'>
  <div class='back-btn-box'>
    <%=link_to '戻る', :back, class:'back-btn' %>
  </div>
  <div class='main-show'>
    <div class='car-title-box'>
      <div class='car-title-name'>
        <%= @car.title %>
      </div>
      <div class='car-mnb-time'>
        <div>
          <span class='mnb'><%= @car.maker.name %>   /</span>
          <span class='mnb'><%= @car.car_name %>   /</span>
          <span class='mnb'><%= @car.body_type.name %></span>
        </div>
        <div>
          <span class='spans'><%= l @car.created_at %></span>
        </div>
      </div>
      <div class='car-user-name-box'>
        <div class='car-user-name'>
          投稿者：<%=link_to @car.user.nickname, user_path(@car.user) %>
        </div>
        <div class='car-edit-delete-btn'>
          <% if current_user == @car.user %>
            <%= link_to '編集', edit_car_path(@car), class:'car-edit-btn', id:'car-edit-btn' %>
            <%= link_to '削除', car_path(@car), method: :delete, class:'car-delete-btn', id:'car-delete-btn' %>
          <% end %>
        </div>
      </div>
    </div>
    <div class='car-image-box'>
      <div class='main-image-box' id='main-image-box'>
        <%= image_tag @car.images[0].url, class:'main-image', id:'main-image' if @car.images? %>
        <%= image_tag 'img_noimage.png' unless @car.images? %>
      </div>
      <% if @car.images? %>
      <div class='sub-image-box'>
        <% @car.images.each_with_index do |image, i| %>
          <div class='sub-images-box'>
            <%= image_tag image.url, class:'sub-images', id:"sub-images-#{i}", onclick: 'pickupImage(this)' %>
          </div>
        <% end %>
      </div>
      <% end %>
    </div>
    <div class='car-tag-box'>
      <% @car.tags.each do |tag| %>
        <span class='car-tag-name' ><%=link_to tag.name, search_cars_path(keyword: tag.name) %></span>
      <% end %>
    </div>
    <div class='car-text-box'>
      <%= safe_join(@car.text.split("\r\n"), tag.br) %>
    </div>
    <div class='car-comment-box'>
      <div class='comment-area'>
        <% if @car.comments.blank? %>
          現在、コメントはありません
        <% else %>
          <% @car.comments.each do |comment| %>
          <div class="comment">
            <div class='comment-user'>
              <%=link_to comment.user.nickname, user_path(comment.user) %>
            </div>
            <div class='comment-text'>
              <%= safe_join(comment.text.split("\r\n"), tag.br) %>
            </div>
          </div>
          <% end %>
        <% end %>
      </div>
      <% if user_signed_in?%>
        <div class='comment-info'>
          相手のことを考え丁寧なコメントを心がけましょう。
      </div>
        <%= form_with model: [@car, @comment], class:"comment-form", id:"comment-form", local: true do |f| %>
          <%= f.text_area :text, class:'comment-text-form', id:'comment-text-form'%>
          <%= f.submit 'コメントする' ,class:'comment-send-form', name:'commit'%>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<%= render "shared/footer" %>