<%= render 'shared/header'%>

<div class='main-window'>
  <div class='main-show'>
    <div class='car-title-box'>
      <div class='car-title-name'>
        <%= @car.title %>
      </div>
      <div class='car-info'>
        <span class='spans'><%= @car.maker.name %>   /</span>
        <span class='spans'><%= @car.car_name %>   /</span>
        <span class='spans'><%= @car.body_type.name %></span>
      </div>
      <div class='car-user-name-box'>
        <div class='car-user-name'>
          投稿者：<%=link_to @car.user.nickname, user_path(@car.user) %>
        </div>
        <div class='car-edit-delete-btn'>
          <% if current_user == @car.user %>
            <%= link_to '編集', edit_car_path(@car), class:'car-edit-btn' %>
            <%= link_to '削除', car_path(@car), method: :delete, class:'car-delete-btn' %>
          <% end %>
        </div>
      </div>
    </div>
    <div class='car-image-box'>
      <%= image_tag @car.image.url if @car.image? %>
      <%= image_tag 'img_noimage.png' unless @car.image? %>
    </div>
    <div class='car-tag-box'>
      タグ：
      <% @car.tags.each do |tag| %>
        <span class='car-tag-name' >#<%= tag.name %></span>
      <% end %>
    </div>
    <div class='car-text-box'>
      <%= @car.text %>
    </div>
    <div class='car-comment-box'>
    コメント欄
      <div class='comment-area'>
        <% @car.comments.each do |comment| %>
          <div class='comment'>
            <b><%=link_to comment.user.nickname, user_path(@car.user) %></b>：<%= comment.text %>
          </div>
        <% end %>
      </div>
      <% if user_signed_in?%>
        <div class='comment-form'>
          <%= form_with model: [@car, @comment], local: true do |f| %>
            <%= f.text_field :text, class:'comment-text-form'%>
            <%= f.submit 'コメントする' ,class:'comment-send-form'%>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>